.idea/
.idea
.idea/*
.idea/vsc.xml
src/main/frontend/node_modules
src/main/resources/static/build
src/main/resources/application.properties
.DS_Store
target
target/
target/*
/src/main/resources/application.properties
